@model TransportManagement.Models.Employee

@{
    ViewData["Title"] = "EditAllocate";
}

<div>
    <h4 style="text-align: center;margin-top: 50px;">
        Allocate Vehicle
    </h4>
</div>

<div class="row" style="margin-top: 70px; margin-left: 500px;">
    <div class="col-md-4">
        <form asp-action="EditAllocate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeId" />
            <div class="form-group">
                <label asp-for="EmployeeName" class="control-label" style="padding-left: 50px; margin-left: 20px;margin-bottom: 20px;"></label>
                <input asp-for="EmployeeName" readonly class="form-control" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label" style="padding-left: 60px; margin-left: 45px;margin-bottom: 20px;margin-top: 10px;"></label>
                <input asp-for="Age" readonly class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label" style="padding-left: 50px; margin-left: 45px;margin-bottom: 20px;margin-top: 10px;"></label>
                <input asp-for="Location" readonly class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label" style="padding-left: 50px; margin-left: 45px;margin-bottom: 20px;margin-top: 10px;"></label>
                <input asp-for="Phone" readonly class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleId" class="control-label" style="padding-left: 50px; margin-left: 45px;margin-bottom: 20px;margin-top: 10px;"></label>
                <select asp-for="VehicleId" class="form-control" asp-items="ViewBag.VehicleId"></select>
                <span asp-validation-for="VehicleId" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-left: 30px;padding-right: 30px; margin-top: 30px;margin-left: 50px;">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
